<div id="mainNavbar">
  <a href="/">Home</a>
  <a href="/about" class="<%= path === '/about' ? 'active' : '' %>">About</a>
  <a href="/author" class="<%= path === '/author' ? 'active' : '' %>">Author</a>
</div>
