<div id="mainNavbar">
    <div class="mainNavbarTile">
        <a href="/">Home</a>
    </div>
    <div class="mainNavbarTile">
        <a href="/about" class="<%= path === '/about' ? 'active' : '' %>">About</a>
    </div>
    <div class="mainNavbarTile">
        <a href="/author" class="<%= path === '/author' ? 'active' : '' %>">Author</a>
    </div>
</div>