@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Light.ttf);
}

#topPanel {
  display: block;
  margin-top: 100px;
  font-family: Roboto;
  color: white;
  text-shadow: 3px 3px #000000;
}

#topPanel > h1 {
  font-size: 50px;
}

.topText {
  line-height: 50px;
  font-size: 30px;
  text-shadow: 2px 2px #000000;
}

#topForm {
  display: inline-block;
}

.topInput {
  height: 26px;
  font-size: 22px;
}

#topUpdate {
  height: 32px;
  font-size: 22px;
}

#bottomPanel {
  margin: 40px 0;
  font-family: Roboto;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

#settingsPanel {
  text-align: left;
  padding: 0 0 30px 20px;
  width: 400px;
  background-color: rgb(59, 214, 194, 0.3);
  border-radius: 10px;
  font-size: 22px;
}

#settingsPanel > h2{
  text-align: center;
  font-size: 32px;
}

.settingsInput {
  height: 26px;
  font-size: 20px;
}

#playersPanel {
  text-align: left;
  padding: 0 0 30px 20px;
  min-height: 300px;
  width: 400px;
  background-color: rgb(59, 214, 194, 0.3);
  border-radius: 10px;
  font-size: 22px;
}

#playersPanel > h2{
  text-align: center;
  font-size: 32px;
}

#startGame {
  border: none;
  padding: 15px 32px;
  background-image: linear-gradient(#59d6c2, #7ccff8);
  color: white;
  text-shadow: 1px 1px #000000;
  font-size: 40px;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  text-shadow: 2px 2px #000000;
}

#startGame:hover {
  background-image: linear-gradient(#7ccff8, #59d6c2);
  box-shadow: 5px 5px black;
}

#waitingToStart {
  font-family: Roboto;
  color: white;
  text-shadow: 2px 2px #000000;
}