<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main-page.css" />
    <title>JS Drawing Game - About</title>
  </head>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <div id="mainAbout">
        Simple web round based game where your job is to draw a word or a phrase and other players have to guess what it is.
        <br><br>
        Code: <a href="https://github.com/artur-witkowski/js-drawing-game">https://github.com/artur-witkowski/js-drawing-game</a>
    </div>  
  </body>
</html>
